
nav {
  background-color: #092175;
  float: left;
  position: fixed;
  width: 80%;
}

a {
  text-decoration: none;
}

a:link { color:#ffffff; } /* unvisited */
a:visited { color:#F5B9FF; } /* visited */
a:hover { color:#E969FE; } /* mouse over */
a:active { color:#E969FE; } /* selected */

body {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;

}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 100%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

p {
  padding-bottom: 8px;
}
